.btn {
  border: 1px solid #ccc;
  padding: 8px 20px;
  border-radius: 4px;
}

.active {
  background-color: red;
}

.primary {
  color: #ffffff;
  background-color: #337ab7;
}

.success {
  color: #ffffff;
  background-color: #5cb85c;
}

.danger {
  color: #ffffff;
  background-color: #d9534f;
}
.warning {
  color: #ffffff;
  background-color: #f0ad4e;
}
.info {
  color: #ffffff;
  background-color: #5bc0de;
}